#page {
    min-height: 100vh;
}

#main {
    max-width: 1300px;
    min-height: 95vh;
}

#sidebar {
    transition: all 0.5s;
    -webkit-transition: all 0.5s;

    &.closed {
        @apply opacity-0;
        right: -100%;
    }

    &.open {
        @apply block w-full right-0 opacity-100;
        
        &::before {
            backdrop-filter: blur(3px);
            @apply fixed bg-primary left-0 top-0 w-full h-full z-50 opacity-80 transition-opacity duration-500 block;
            content: ' ';
        }
        
        #sidebar-container {
            @apply shadow;
            background-color: #f2f2ef;
            z-index: 100;
            max-width: 550px;
            width: 100%;
            height: 100vh;
            border-left: 1px solid #d0d0d0;
            box-shadow: -4px 0 12px #00000026;
        }

        .cart-footer {
            border-top: 1px solid #d0d0d0;
            box-shadow: 0 -4px 12px #00000026;
        }

        .cart-header {
            border-bottom: 1px solid #d0d0d0;
            box-shadow: 0 4px 12px #00000026;
        }

        .cart-header,
        .cart-footer {
            max-width: 550px;
            width: 100%;
            z-index: 110;
        }

        .cart-item-img {
            height: 80px;
        }

        .qty {
            width: 76px;
        }
    }

}

.gallery-item {
    img {
        max-height: 170px;
    }
}

header {
    & + * {
        @apply pt-16;
        @screen sm {
            @apply pt-48;
        }
    }
}